.center-text {
    text-align: center;
}

.justify-center {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.projectContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
